.counter-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 2px;
  padding-right: 2px;
  width: 100%;
  height: 30px;
  border: 1px solid #e2e7e9;
  border-radius: 25px;
  i {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #d6e6ff;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    color: #044dc3;
    font-size: 25px;
    font-weight: 800;
  }
  button {
    background-color: transparent;
    height: 25px !important;
    width: 25px;
    padding: 0;
  }
  .text-count {
    color: #555555;
    font-size: 16px;
    font-weight: 700;
  }
}
