.top-bar-wrapper,
.blue-bar-wrapper,
.card-bar-container,
.market-content-container,
.breadcrumbs-wrapper,
.footer-wrapper {
  padding-left: 12%;
  padding-right: 12%;
}

.top-bar-wrapper {
  display: flex;
  justify-content: space-between;
  padding-bottom: 29px;
  padding-top: 28px;
  .app-logo {
    height: 31px;
  }
}

.blue-bar-wrapper {
  display: flex;
  align-items: center;
  background: transparent url("../../static/blue-bar.png") 0% 0% no-repeat
    padding-box;
  height: 74px;
  h1 {
    color: #fff;
    font-size: 35px;
    font-weight: 800;
  }
}

.search-box-wrapper {
  position: relative;
  width: 60%;
  .button-search {
    position: absolute;
    background-color: #51B549;
    color: #fff;
    font-weight: 800;
    border-radius: 15px;
    height: 30px;
    width: 56px;
    right: 2px;
    top: 2px;
  }
}

.react-search-field {
  flex-direction: row-reverse;
  background-color: #f7f7f7;
  border-radius: 28px;
  width: 100%;
  .react-search-field-button {
    background-color: #f7f7f7 !important;
    border-radius: 28px;
  }
  input {
    background-color: #f7f7f7;
    border-radius: 28px;
  }
}

.product-box {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: #044dc3;
  border-radius: 28px;
  height: 35px;
  width: 132px;
  .icon {
    margin-right: 5px;
  }
  .title-text {
    color: #fff;
    font-size: 16px;
    font-weight: 800;
  }
  .product-count {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ff5b4d;
    color: #fff;
    width: 20px;
    height: 20px;
    border-radius: 50px;
    top: -5px;
    right: 0;
    font-weight: 800;
  }
}

.product-box__tooltip {
  border-radius: 10px;
  font-size: 13px;
  font-weight: 800;
  opacity: 1 !important;
  &:hover {
    visibility: visible !important;
    opacity: 1 !important;
  }
  .product-box__tooltip--text {
    font-weight: 800;
  }
  .color-yellow {
    color: #FFCE00;
  }
}

.footer-container {
  width: 100%;
}

.footer-wrapper {
  position: relative;
  padding-top: 146px;
  padding-bottom: 49px;
  padding-left: 10%;
  padding-right: 10%;
  background-color: #f2f2f2;
  .footer__white-bar {
    background-color: #fff;
    border-radius: 111px;
    height: 222px;
  }
  .mobil-img {
    float: right;
    margin-top: -140px;
  }
  .store-info {
    display: flex;
    flex-direction: column;
    padding-top: 34px;
  }
  .store-info__qr-text {
    display: flex;
    margin-bottom: 20px;
  }
  .qr-text-wrapper {
    display: flex;
    flex-direction: column;
    padding-left: 20px;
  }
  .qr-text--bold {
    color: #000;
    font-size: 18px;
    font-weight: 700;
    line-height: 23px;
    margin-bottom: 5px;
  }
  .qr-text--regular {
    color: #000;
    font-size: 16px;
    line-height: 20px;
  }
  .qrcode-descriptions {
    display: flex;
  }
  .store-buttons {
    display: flex;
    img:not(:last-child) {
      margin-right: 10px;
    }
  }

  .footer-menu {
    display: flex;
    flex-wrap: wrap;
    margin-top: 109px;
    margin-bottom: 96px;
    .footer__icons .icon {
      margin-right: 30px;
    }
    .border-right {
      border-right-style: dotted !important;
    }
    .menu-header a {
      color: #044dc3;
    }
    ul {
      text-align: center;
    }
    ul li {
      margin-bottom: 10px;
    }
    ul li a {
      color: #000;
      font-size: 15px;
      line-height: 19px;
    }
  }
  .footer-menu-row {
    display: flex;
    margin-bottom: 15px;
    &:not(:last-child) {
      margin-bottom: 32px;
    }
  }
  .footer_menu__description {
    font-size: 15px;
    line-height: 22px;
    a {
      color: #000;
      text-decoration: underline;
    }
  }
  .footer--border-right {
    border-right: 1px dotted #f2f2f2;
  }
  .footer-description {
    font-size: 15px;
    line-height: 22px;
    text-align: center;
  }
}

.footer-bottom-bar {
  display: flex;
  justify-content: center;
  background-color: #e6e6e6;
  padding-top: 15px;
  padding-bottom: 15px;
  span {
    font-weight: 500;
    font-size: 13px;
    line-height: 17px;
  }
}

@media (max-width: 1199.98px) {
  .top-bar-wrapper,
  .blue-bar-wrapper,
  .footer-wrapper {
    padding-left: 6%;
    padding-right: 6%;
  }
  .footer-wrapper {
    padding-top: 98px;
  }
  .mobil-img {
    height: 300px;
    margin-top: -80px !important;
  }
}

@media (max-width: 991.98px) {
  .store-buttons img {
    height: 44px;
  }
}

@media (max-width: 767.98px) {
  .top-bar-wrapper {
    flex-direction: column;
    position: relative;
  }
  .react-search-field {
    width: 100%;
    margin-top: 50px;
  }
  .app-logo {
    position: absolute;
    left: 6%;
  }
  .product-box {
    position: absolute;
    right: 6%;
  }
  .footer-wrapper {
    padding-top: 58px;
  }
  .footer__white-bar {
    height: 160px !important;
  }
  .mobil-img {
    height: 140px;
    margin-top: 0 !important;
  }
  .qr-text-wrapper {
    padding-left: 10px;
  }
  .qr-text--bold {
    font-size: 16px;
  }
  .qr-text--regular {
    font-size: 14px;
  }
  .store-buttons img {
    height: 36px;
  }
  .footer-menu .border-right {
    border-right: 0px !important;
  }
  .footer-menu-row {
    justify-content: center;
  }
}

@media (max-width: 575.98px) {
  .store-info__qr-text {
    justify-content: center;
  }
  .qr-text-wrapper {
    padding-left: 5px;
  }
  .qr-text--bold {
    font-size: 14px !important;
  }
  .qr-text--regular {
    font-size: 12px !important;
  }
  .mobil-img {
    display: none;
  }
  .store-buttons {
    justify-content: center;
    img {
      height: 30px;
    }
  }
}
